include:  
  - local : /.gitlab/jobs.yml

stages:  
  - test  

workflow:
  rules:
    - when : always
     
test:
  stage: test
  extends: .gradle-job
  script:
    - echo $HOME
    - cd ${CI_PROJECT_DIR}/flow
    - ./gradlew --no-daemon --console plain test check