metadata:build:
  stage: build
  extends: .gradle-job
  script:
    - echo $HOME    
    - ./gradlew --no-daemon --continue --console plain :metadata:mill-metadata-service:test :metadata:mill-metadata-autoconfigure:build :metadata:mill-metadata-provider:build
