stages:
  - init
  - build
  - package
  - integration
  - publish

variables:
  RUN_INTEGRATION: 
    value: "false"
    description: "Set to true to run integration tests"
    options:
      - "true"
      - "false"
  RUN_PUBLISH:
    value: "auto"
    description: "Publish include control: auto (protected only), true (force), false (disable)"
    options:
      - "auto"
      - "true"
      - "false"
  RUN_PACKAGING:
    value: "false"
    description: "Set to true to run packaging without full integration"
    options:
      - "true"
      - "false"
  GRADLE_CONTINUE:
    value: "false"
    description: "Set to true to continue Gradle build after failure"
    options:
      - "true"
      - "false"
  GRADLE_FORCE_CLEAN:
    value: "false"
    description: "Set to true to force Gradle clean"
    options:
      - "true"
      - "false"


  

workflow:
  rules:
    - if: '$CI_COMMIT_REF_PROTECTED == "true"'
      variables:
        RUN_INTEGRATION: "true"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && ($CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "rc" || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main")'
      variables:
        RUN_INTEGRATION: "true"
    - if: $CI_COMMIT_TAG
      when: never
    - when: always


.if-protected: &if-protected
  if: '$CI_COMMIT_REF_PROTECTED == "true"'

.if-mr-full: &if-mr-full
  if: '$CI_PIPELINE_SOURCE == "merge_request_event" && ($CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "rc" || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main")'

.if-run-integration: &if-run-integration
  if: '$RUN_INTEGRATION == "true"'

.build-changes: &build-changes
  changes:
    - .gitlab-ci.yml
    - .gitlab/**/*    
    - build-logic/**/*

include:
  - local: ${CI_PROJECT_DIR}/.gitlab/common/common.yml
  - local: ${CI_PROJECT_DIR}/.gitlab/components/core.yml
  - local: ${CI_PROJECT_DIR}/.gitlab/components/metadata.yml
  - local: ${CI_PROJECT_DIR}/.gitlab/components/ai.yml
  - local: ${CI_PROJECT_DIR}/.gitlab/components/ui.yml
  - local: ${CI_PROJECT_DIR}/.gitlab/components/data.yml
  - local: ${CI_PROJECT_DIR}/.gitlab/components/clients.yml

init-version:
  stage: init
  extends: .get-build-version
  rules:
      - *if-mr-full
      - *if-protected
      - *build-changes
      - changes:
        - apps/**/*
        - ui/**/*
      - when: never

packaging:downstream:
  stage: package
  needs:
    - job: init-version
      artifacts: true
      optional: true
  trigger:
    include:
      - local: .gitlab/pipelines/packaging.yml
    strategy: depend
    forward:
      pipeline_variables: true
  variables:
    QP_VERSION: $BUILD_VERSION
  rules:
    - if: '$RUN_PACKAGING == "true"'
    - if: '$RUN_INTEGRATION == "true"'
    - when: never

integration:downstream:
  stage: integration
  needs:
    - job: init-version
      artifacts: true
      optional: true
  trigger:
    include:
      - local: .gitlab/pipelines/integration.yml
    strategy: depend
    forward:
      pipeline_variables: true
  variables:
    QP_VERSION: $BUILD_VERSION
    RUN_INTEGRATION: "true"
  rules:
    - *if-run-integration
    - when: never

publish:downstream:
  stage: package
  needs:
    - job: init-version
      artifacts: true
      optional: true
  trigger:
    include:
      - local: .gitlab/pipelines/publish.yml
    strategy: depend
    forward:
      pipeline_variables: true
  variables:
    QP_VERSION: $BUILD_VERSION
    QP_VERSION_PEP440: $BUILD_VERSION_PEP440
  rules:
    - if: '$RUN_PUBLISH == "true"'
    - if: '$RUN_PUBLISH != "false" && $CI_COMMIT_REF_PROTECTED == "true"'
    - when: never