stages:  
  - init 
  - build
  - package
  - integration
  - publish

.if-protected: &if-protected
  if: '$CI_COMMIT_REF_PROTECTED == "true"'  

.if-mr: &if-mr
  if: '$CI_PIPELINE_SOURCE == "merge_request_event"'  

.build-changes: &build-changes
  changes:
    - .gitlab-ci.yml
    - .gitlab/**/*    
    - build-logic/**/*

include:
  - local: ${CI_PROJECT_DIR}/.gitlab/.vars.yml
  - local: ${CI_PROJECT_DIR}/.gitlab/.common.yml
  - local: ${CI_PROJECT_DIR}/.gitlab/pipelines/integration.yml
    rules:    
      - *if-mr
      - *if-protected
      - when: never
  - local : ${CI_PROJECT_DIR}/core/.gitlab-ci.yml
    rules:
      - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      - if: '$CI_COMMIT_REF_PROTECTED == "true"'
      - changes:
        - .gitlab-ci.yml
        - .gitlab/**/*    
        - build-logic/**/*
        - core/**/*
      - when: never
  - local : ${CI_PROJECT_DIR}/services/.gitlab-ci.yml
    rules:
      - *if-mr
      - *if-protected
      - *build-changes    
      - changes:
        - services/**/*
      - when: never        
  - local : ${CI_PROJECT_DIR}/apps/.gitlab-ci.yml
    rules:
      - *if-mr
      - *if-protected
      - *build-changes    
      - changes:
        - apps/**/*
      - when: never
  - local : ${CI_PROJECT_DIR}/ai/.gitlab-ci.yml
    rules:
      - *if-mr
      - *if-protected
      - *build-changes    
      - changes:
        - ai/**/*
      - when: never
  - local : ${CI_PROJECT_DIR}/clients/.gitlab-ci.yml
    rules:
      - *if-mr
      - *if-protected
      - *build-changes    
      - changes:
        - clients/**/*
      - when: never          
  - local: ${CI_PROJECT_DIR}/.gitlab/pipelines/publish.yml
    rules:
      - *if-protected
      - when: never

init-version:
  stage: init
  extends: .get-build-version

test:
  stage: init
  script:
    - echo "CI_PIPELINE_SOURCE=${CI_PIPELINE_SOURCE}"
    - echo "CI_OPEN_MERGE_REQUESTS=${CI_OPEN_MERGE_REQUESTS}"
    - echo "CI_MERGE_REQUEST_TARGET_BRANCH_PROTECTED=${CI_MERGE_REQUEST_TARGET_BRANCH_PROTECTED}"

is-mr:
  stage: init
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - when: never
  script:
    - echo "IS MR"

is-not-mr:
  stage: init
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
  script:
    - echo "IS NOT MR"