stages:  
  - init 
  - build
  - package
  - integration
  - publish

variables:
  RUN_INTEGRATION: 
    value: "false" 
    description: "Set to true to run integration tests"
    options:
      - "true"
      - "false"
  GRADLE_CONTINUE:
    value: "false"
    description: "Set to true to continue Gradle build after failure"
    options:
      - "true"
      - "false"
  GRADLE_FORCE_CLEAN:
    value: "false"
    description: "Set to true to force Gradle clean"
    options:
      - "true"
      - "false"


  

workflow:
  rules:
    - if: '$CI_COMMIT_REF_PROTECTED == "true"'
      variables:
        RUN_INTEGRATION: "true"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && ($CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "rc" || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main")'
      variables:
        RUN_INTEGRATION: "true"
    - if: $CI_COMMIT_TAG
      when: never
    - when: always


.if-protected: &if-protected
  if: '$CI_COMMIT_REF_PROTECTED == "true"'

.if-mr-full: &if-mr-full
  if: '$CI_PIPELINE_SOURCE == "merge_request_event" && ($CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "rc" || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main")'

.if-run-integration: &if-run-integration
  if: '$RUN_INTEGRATION == "true"'

.build-changes: &build-changes
  changes:
    - .gitlab-ci.yml
    - .gitlab/**/*    
    - build-logic/**/*

include:
  - local: ${CI_PROJECT_DIR}/.gitlab/.vars.yml
  - local: ${CI_PROJECT_DIR}/.gitlab/.common.yml
  - local: ${CI_PROJECT_DIR}/.gitlab/pipelines/integration.yml
    rules:    
      - *if-run-integration
      - when: never
  - local : ${CI_PROJECT_DIR}/core/.gitlab-ci.yml
    rules:
      - *if-mr-full
      - if: '$CI_COMMIT_REF_PROTECTED == "true"'
      - changes:
        - .gitlab-ci.yml
        - .gitlab/**/*    
        - build-logic/**/*
        - core/**/*
      - when: never
  - local: ${CI_PROJECT_DIR}/metadata/.gitlab-ci.yml
    rules:
      - *if-mr-full
      - *if-protected
      - *build-changes
      - changes:
          - metadata/**/*
      - when: never
  - local : ${CI_PROJECT_DIR}/apps/.gitlab-ci.yml
    rules:
      - *if-mr-full
      - *if-protected
      - *build-changes    
      - changes:
        - apps/**/*
      - when: never
  - local : ${CI_PROJECT_DIR}/ai/.gitlab-ci.yml
    rules:
      - *if-mr-full
      - *if-protected
      - *build-changes    
      - changes:
        - ai/**/*
      - when: never
  - local: ${CI_PROJECT_DIR}/ui/.gitlab-ci.yml
    rules:
      - *if-mr-full
      - *if-protected
      - *build-changes
      - changes:
          - ui/**/*
      - when: never
  - local: ${CI_PROJECT_DIR}/data/.gitlab-ci.yml
    rules:
      - *if-mr-full
      - *if-protected
      - *build-changes
      - changes:
          - data/**/*
      - when: never
  - local : ${CI_PROJECT_DIR}/clients/.gitlab-ci.yml
    rules:
      - *if-mr-full
      - *if-protected
      - *build-changes    
      - changes:
        - clients/**/*
      - when: never          
  - local: ${CI_PROJECT_DIR}/.gitlab/pipelines/publish.yml
    rules:
      - *if-protected
      - when: never

init-version:
  stage: init
  extends: .get-build-version
  rules:
      - *if-mr-full
      - *if-protected
      - *build-changes
      - when: never
      