# Ignore Gradle project-specific cache directory
.gradle
.gradle/
.gradle-home/
.kreya/
.conda
# Ignore Gradle build output directory
build
bin 
.idea
.idea/
*.iml
.data
.tmp/
.temp/
out/
target/
.secrets
.kotlin/
.cursor/
.vscode/
.obsidian/
schemas/
