stages:
  - build

# MINIMAL CI/CD ONLY UNIT TESTS
core:build:
  stage: build
  inherit:
    variables: false
  trigger:
    include:
      - local: core/.gitlab-ci.yml
    strategy: depend
  rules:        
    - if: $CI_COMMIT_REF_PROTECTED == "true"
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - changes:      
        - .gitlab-ci.yml
        - .gitlab/**/*
        - gradle/**/*
        - core/**/*        
      when: always

services:build:
  stage: build
  inherit:
    variables: false
  trigger:
    include:
      - local: services/.gitlab-ci.yml
    strategy: depend
  rules:        
    - if: $CI_COMMIT_REF_PROTECTED == "true"
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - changes:      
        - .gitlab-ci.yml
        - .gitlab/**/*
        - gradle/**/*
        - services/**/*        
      when: always 

flow:build:
  stage: build
  inherit:
    variables: false
  trigger:
    include:
      - local: flow/.gitlab-ci.yml
    strategy: depend
  rules:        
    - if: $CI_COMMIT_REF_PROTECTED == "true"
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - changes:      
        - .gitlab-ci.yml
        - .gitlab/**/*
        - gradle/**/*
        - flow/**/*        
      when: always

ai:build:
  stage: build
  inherit:
    variables: false
  trigger:
    include:
      - local: ai/.gitlab-ci.yml
    strategy: depend
  rules:        
    - if: $CI_COMMIT_REF_PROTECTED == "true"
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - changes:      
        - .gitlab-ci.yml
        - .gitlab/**/*
        - gradle/**/*
        - ai/**/*        
      when: always

apps:build:
  stage: build
  inherit:
    variables: false
  trigger:
    include:
      - local: apps/.gitlab-ci.yml
    strategy: depend
  rules:        
    - if: $CI_COMMIT_REF_PROTECTED == "true"
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - changes:      
        - .gitlab-ci.yml
        - .gitlab/**/*
        - gradle/**/*
        - apps/**/*        
      when: always                   