{
    "branches": ["main", {"name" : "rc", "prerelease": true}],
    "plugins" : [
        ["@semantic-release/commit-analyzer", {
            "preset" : "angular",
            "parserOpts" : {
                "headerPattern" : "^\\[(\\w*)(?:\\:([^\\]]*))*\\](.*)$",
                "headerCorrespondence" : [
                    "type",
                    "scope",
                    "subject"
                ]
            }, 
            "releaseRules" : [
                { "type": "feature", "release": "minor" },
                { "type": "feat", "release": "minor" },

                { "type": "fix", "release": "patch"  },
                { "type": "build", "release": "patch" },
                { "type": "code", "release": "patch" },
                { "type": "refactor", "release": "patch"},
	        { "type": "new", "release":"patch"},

                { "type": "fix", "scope":"doc", "release": "patch" },
                { "type": "update", "scope":"doc", "release": "patch" },

                { "type" : "release", "scope":"major", "release" : "major"},
                { "type" : "release", "scope":"minor", "release" : "minor"}
            ]
        }],

        ["@semantic-release/exec", {
            "success": "echo ${nextRelease.version}${QP_VERSION_SFX} > VERSION",
            "verifyReleaseCmd": "echo ${nextRelease.version} > VERSION"
        }],
        
        ["@semantic-release/release-notes-generator", {
            "preset" : "angular",
            "parserOpts" : {
                "headerPattern" : "^\\[(\\w*)(?:\\:([^\\]]*))*\\](.*)$",
                "headerCorrespondence" : [
                    "type",
                    "scope",
                    "subject"
                ]
            }, 
            "releaseRules" : [
                { "type": "feature", "release": "minor" },
                { "type": "feat", "release": "minor" },

                { "type": "fix", "release": "patch"  },
                { "type": "build", "release": "patch" },
                { "type": "code", "release": "patch" },
                { "type": "refactor", "release": "patch"},
	        { "type": "new", "release":"patch"},


                { "type": "fix", "scope":"doc", "release": "patch" },
                { "type": "update", "scope":"doc", "release": "patch" },

                { "type" : "release", "scope":"major", "release" : "major"},
                { "type" : "release", "scope":"minor", "release" : "minor"}
            ]
        }],

        ["@semantic-release/changelog", {
              "changelogFile": "CHANGELOG"
        }],

        "@semantic-release/gitlab"
    ]
}
