<configuration debug="false">
    <!--statusListener class="ch.qos.logback.core.status.NopStatusListener" /-->
    <appender name="COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern> %green(%d{HH:mm:ss.SSS}) %gray(-) %-10.10thread %gray(-) %highlight(%5p) %gray(-) %blue(%-20.20logger{20}) %gray(-) %m%n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="COLOR"/>
    </root>
</configuration>