include:  
  - local : /.gitlab/.common.yml

stages:  
  - init
  - test  

workflow:
  rules:
    - when : always

test:
  stage: test
  extends: .gradle-job
  script:
    - echo $HOME
    - cd ${CI_PROJECT_DIR}/core
    - ./gradlew --no-daemon --console plain test check