services:build:
  stage: build
  extends: .gradle-job
  script:
    - echo $HOME    
    - ./gradlew --no-daemon --console plain :services:test :service:compileTestIT
  artifacts:
    when: always
    expire_in: 7 days
    paths:
      - services/**/build/reports/tests/test/
      - services/**/build/reports/jacoco/test/
    reports:
      junit:
        - services/**/build/test-results/test/TEST-*.xml