<configuration debug="${QP_LOGGING_DEBUG:-false}">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <appender name="COLOR_JANSI" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray(|) %yellow(%-10.10thread) %gray(|) %highlight(%5p) %gray(|) %magenta(%-20.20logger{20}) %gray(|) %m%n</pattern>
        </encoder>
    </appender>
    <appender name="COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray(|) %yellow(%-10.10thread) %gray(|) %highlight(%5p) %gray(|) %magenta(%-20.20logger{20}) %gray(|) %m%n</pattern>
        </encoder>
    </appender>
    <appender name="NOCOLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} | %5p | %-10.10thread | %-20.20logger{20} | %m%n</pattern>
        </encoder>
    </appender>
    <root level="${QP_LOGGING_LEVEL:-DEBUG}">
        <appender-ref ref="${DP_LOGGING_APPENDER:-COLOR}"/>
    </root>
</configuration>