include:  
  - local : /.gitlab/jobs.yml

stages:  
  - test  

variables:
  GIT_CLEAN_FLAGS: >-
      -ffdx
      -e .gradle-home/
      -e **/.gradle/  
  GIT_STRATEGY: fetch        
  GIT_DEPTH: "1"             
  GIT_CLEAN_FLAGS: none      
  GIT_SUBMODULE_STRATEGY: none  
  GIT_LFS_SKIP_SMUDGE: "1"

workflow:
  rules:
    - when : always
     
test:
  stage: test
  extends: .gradle-job
  script:
    - echo $HOME
    - cd ${CI_PROJECT_DIR}/ai
    - ./gradlew --no-daemon --console plain test check