ai:build:
  stage: build
  extends: .gradle-job
  script:
    - echo $HOME    
    - ./gradlew --no-daemon ${GRADLE_CONTINUE_PARAM} --console plain clean :ai:test :ai:compileTestIT
  artifacts:
    when: always
    expire_in: 7 days
    paths:
      - ai/**/build/reports/tests/test/
      - ai/**/build/reports/jacoco/test/
    reports:
      junit:
        - ai/**/build/test-results/test/TEST-*.xml