include:  
  - local : /.gitlab/.common.yml

stages:  
  - test  

workflow:
  rules:
    - when : always
test:
  stage: test
  extends: .gradle-job
  script:
    - echo $HOME
    - cd ${CI_PROJECT_DIR}/ai
    - ./gradlew --no-daemon --console plain test

# testIT:
#   stage: test
#   extends: .gradle-job
#   rules:
#     - if: $CI_PIPELINE_SOURCE == "merge_request_event"
#     - if: $CI_COMMIT_REF_PROTECTED == "true"
#   script:
#     - echo $HOME
#     - cd ${CI_PROJECT_DIR}/ai
#     - ./gradlew --no-daemon --console plain testIT