ai:build:
  stage: build
  extends: .gradle-job
  script:
    - echo $HOME    
    - ./gradlew --no-daemon --console plain :ai:test :ai:compileTestIT

ai:integration:
  stage: integration
  extends: 
    - .gradle-job
    - .integration-job
  allow_failure: true
  needs:
    - job: init-version
      artifacts: true
      optional: true
  script:
    - !reference [ .global-vars, before_script ]
    - export REGRESSION_VERSION_TAG=${QP_VERSION}
    - echo "REGRESSION_VERSION_TAG=${REGRESSION_VERSION_TAG}"
    - ./gradlew --no-daemon --console plain :ai:testIT
  artifacts:
    when: always
    expire_in: "5 days"
    paths:
      - ${CI_PROJECT_DIR}/ai/mill-ai-core/build/reports/scenarios/*.json

ai:publish-regression:
  stage: integration
  extends:
    - .integration-job
  needs:
    - job: ai:integration
      artifacts: true
    - job: init-version
      artifacts: true
      optional: true
  script:
    - !reference [ .global-vars, before_script ]
    - export REGRESSION_VERSION_TAG=${QP_VERSION}
    - mkdir -p /out/regression/reports/ai/${REGRESSION_VERSION_TAG}
    - rm -Rf /out/regression/reports/ai/${REGRESSION_VERSION_TAG}/ 2> /dev/null
    - mkdir -p /out/regression/reports/ai/${REGRESSION_VERSION_TAG}
    - ls -l ${CI_PROJECT_DIR}/ai/mill-ai-core/build/reports/scenarios/*.*
    - cp -Rf ${CI_PROJECT_DIR}/ai/mill-ai-core/build/reports/scenarios/*.* /out/regression/reports/ai/${REGRESSION_VERSION_TAG}/
    - ls -lacr /out/regression/reports/
    - cd /out/regression/
    - tar czfv /out/regression/pack-${REGRESSION_VERSION_TAG}-$(date +%Y%m%d-%H%M%S).tar.gz ./reports
    - cp /out/regression/pack-${REGRESSION_VERSION_TAG}-$(date +%Y%m%d-%H%M%S).tar.gz ${CI_PROJECT_DIR}/ai/mill-ai-core/build/reports/scenarios/
  artifacts:
    expire_in: "5 days"
    paths:
      - ${CI_PROJECT_DIR}/ai/mill-ai-core/build/reports/scenarios/pack-*.tar.gz