include:  
  - local : /.gitlab/.common.yml

stages:  
  - build  

workflow:
  rules:
    - when : always  
 
test:
  stage: build
  extends: .gradle-job
  script:
    - echo $HOME
    - cd ${CI_PROJECT_DIR}/apps
    - ./gradlew --no-daemon --console plain test check
