ui:grinder-ui-v1:build:
  extends: .node-job
  stage: build
  script:
    - cd ${CI_PROJECT_DIR}/ui/mill-grinder-ui
    - npm install
    - npm run test:run
    - npm run build
  artifacts:
    expire_in: "5 days"
    paths:
      - ${CI_PROJECT_DIR}/ui/mill-grinder-service/src/main/resources/static/app/v1
    reports:
      junit:
        - ui/**/.test/*.xml


ui:grinder-ui-v2:build:
  extends: .node-job
  stage: build
  script:
    - cd ${CI_PROJECT_DIR}/ui/mill-ui
    - npm install
    - npm run test:ci
    - npm run build
  artifacts:
    expire_in: "5 days"
    paths:
      - ${CI_PROJECT_DIR}/ui/mill-grinder-service/src/main/resources/static/app/v2
    reports:
      junit:
        - ui/**/.test/*.xml

ui:build:
  stage: build
  extends: .gradle-job
  script:
    - echo $HOME    
    - ./gradlew --no-daemon ${GRADLE_CONTINUE_PARAM} --console plain :ui:test :ui:compileTestIT
  artifacts:
    when: always
    expire_in: 7 days
    paths:
      - ui/**/build/reports/tests/test/
      - ui/**/build/reports/jacoco/test/
    reports:
      junit:
        - ui/**/build/test-results/test/TEST-*.xml
