logging:
  level:
    root: info
    org.apache.calcite: WARN
    io.qpointz.mill: DEBUG


spring:
  ai:
    model:
      chat: openai
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-5
  mcp:
    server:
      enabled: false
      name: moneta-agent
      transport:
        type: http
        endpoint: http://localhost:8080/mcp/task

mill:
  metadata:
    v2:
      file:
        path: file:../../test/datasets/moneta/moneta-meta-repository.yaml
  ai:
    nl2sql:
      enable: true
      dialect: H2
      valuemapping:
        - type: sql
          cron: once
          target: MONETA.CLIENTS.COUNTRY
          sql: select * from
        - type: sql
          cron: once
          sql: select * from
          target: MONETA.CLIENTS.SEGMENT

  security:
    enable: false
  data:
    sql:
      dialect: h2
      conventions:
        quoting: DOUBLE_QUOTE
        caseSensitive: false
        unquotedCasing: UNCHANGED
    backend:
      type: jdbc
      jdbc:
        url: "jdbc:h2:mem:test;INIT=RUNSCRIPT FROM '../../test/datasets/moneta/moneta-slim.sql'"
        driver: "org.h2.Driver"
        user: "*"
        password: "*"
        target-schema: "MONETA"
  services:
    grpc:
      enable: false
    ai-nl2data:
      enable: true
    data-bot:
      enable: true
      prompt-file: file:../test/datasets/moneta/moneta.prompt
      model-name: gpt-4.1
